.container {
    justify-items: center;
    display: block;
}

/* Estilização da tabela */
.imagem-tabela {
    width: 200px;
}

#tabela {
    border-collapse: collapse;
}

.celula-tabela {
    border: solid;
    border-color: black;
}

/* Estilização geral dos grids */
.imagem-grid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}


/* Grid 2 */
#div-1-grid-2 {
    grid-row: span 2 ;
}

#div-7-grid-2 {
    grid-column: span 2;
}

/* Grid 3 */
#div-cima-grid-3 {
    grid-column: span 3;
}

#div-baixo-grid-3 {
    grid-row: span 3;
}

/* Grid 4 */
#div-2-grid-4 {
    grid-column: span 2;
}

#div-4-grid-4 {
    grid-row: span 2;
}

/* Grid 5 */
#div-2-grid-5 {
    grid-row: span 3;
}

/* Grid 6 */
#div-2-grid-6 {
    grid-row: span 3;
}

#div-3-grid-6 {
    grid-row: span 3;
}

#div-4-grid-6 {
    grid-row: span 2;
}
